.container {
  max-width: 780px;
  margin: auto auto;
  /* padding: 0 30px; */
}

/*--------------------------boxes section--------------------------*/

.boxes .container{
  display: flex;
  justify-content: space-between;
}

.boxes h2 {
  margin-bottom: 5px;
}

.boxes img {
  margin-top: 25px;
}

.boxes a {
  text-decoration: none;
}

.box{
  flex: 1;
  background: transparent;
  color: #fff;
  border-radius: 10px;
  margin: 20px 10px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding: 15px 20px;
}

.box:hover {
  box-shadow: 5px 0px 25px black;
}


